@import 'Fonts';
.recipeCardContent{
	padding-top: 0;
}
.drawerToolbar{
	display: flex;
	align-items: center;
	justify-content: center;
}
.chipInput{
	margin-bottom: 30px;
}
.fullWidth{
	width: 100%;
}
.ingredientAmountGridItem{
	margin-top: 16px;
}
.ratingContainer{
	padding: 7px 4px;
	display: flex;
	align-items: center;
}
.ratingContainer svg{
	font-size: 20px;
}
.filterInputLabel{
	font-size: 0.8em;
}